.landing-container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto auto 20px;
    grid-template-areas: 
        "h h h h h h h h h h b"
        "m m m m m m m m m m m"
        "c c c c c c c c c c c"
        "f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.brand {
   grid-area: b
}

.content {
    grid-area: c
}

.footer {
    grid-area: f
}

.landing-container div {
    background-color: rgb(122, 119, 119);
    color: #fff;
}