.header-container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px;
    grid-template-areas: 
        "b b e e e m m m m m m";
}

.brand-area {
    grid-area: b;
}

.menu-area {
    grid-area: m;
}

.empty-area {
    grid-area: e;
}

.profile-area {
    grid-area: p;
}
