.search-container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto;
    grid-template-areas: 
        ". f f f f f f f t t b"
        "o o o o o o o o o o o";
}

.input-field {
    grid-area: f;
}

.search-type {
    grid-area: t;
}

.search-button {
    grid-area: b;
}

.search-result {
    grid-area: o;
}

.search-container div {
    color: #fff;
}