body {
  margin: 1%;
  padding: 0;
  font-family: 'Century Gothic';
  background-color: #444;
}

.responsive-columns-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
}

/* implicit row generation */
.implicit-rows {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

/* image grid */
.image-grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
}

.horizonal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

/* named lines*/
.named-lines-container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
  grid-template-rows: [main-start] 40px [content-start] auto [content-end] 40px [main-end];
}

.header {
  grid-column: main;
}

.menu {}

.content {
  grid-area: content;
}

.footer {
  grid-column: main;
}

/* justify-content */
.justified-content-container {
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  justify-content: center;
  align-content: center;
}

/* justified-item */
.justified-item-container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

.header {
  grid-column: 1 / -1;
}

.menu {
  grid-column: 1 / 3;
}

.content {
  grid-column: 3 / -1;
}

.footer {
  grid-column: 1 / -1;
}

/* css-grid-flex-box */
.grid-flex-container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

.header {
  grid-column: 1 / -1;
  display: flex;
}

.header > div:nth-last-child() {
  margin-left: auto;
}

.menu {
  grid-column: 1 / 3;
}

.content {
  grid-column: 3 / -1;
}

.footer {
  grid-column: 1 / -1;
}